body {
  background-color: #AFEEEE;
  font-family: 'Ubuntu', sans-serif;
  color:#333333;
}

h1, h2 {
 color:#708090;
 font-size: 50px;
}

h1 {
  background-color: 
}
ul {
  color: #333333;
  margin-left: 50px;
}
